In [ ]:
# Importando transactional_data

import pandas as pd

transactional_data = pd.read_csv('../bases_iniciais/transactional_data.csv', sep=';') # tive que especificar o separador

transactional_data

In [ ]:
transactional_data['Date of service'] = pd.to_datetime(transactional_data['Date of service'], format='%Y-%m-%d')
transactional_data['Date of birth'] = pd.to_datetime(transactional_data['Date of birth'], format='%d/%m/%Y %H:%M:%S')
transactional_data

In [34]:
transactional_data.dtypes

patient_id                 object
gender                     object
date_of_birth      datetime64[ns]
date_of_service    datetime64[ns]
service_id                 object
lab_id                     object
cod_item                    int64
testing_cost               object
dtype: object

In [ ]:
transactional_data.describe(include='all')

In [ ]:
# checando valores nulos

transactional_data.isna().sum()

In [ ]:
# checando dado com valor nulo

transactional_data[transactional_data['Date of birth'].isna()]

In [ ]:
# checando se o paciente utilizou o serviço outras vezes

transactional_data[transactional_data['Patient Id'] == '7659985004-1']

In [ ]:
transactional_data.duplicated().sum()

In [ ]:
# checando dado com valor duplicado

transactional_data[transactional_data.duplicated()]

In [ ]:
# conferindo linhas duplicadas

transactional_data[transactional_data['Patient Id'] == '10240091057-BIO010']

In [ ]:
# o duplicated() traz somente linhas que são duplicadas em todos os atributos, então são realmente cópias, por isso, faz sentido
# deletar as duplicadas

transactional_data = transactional_data.drop_duplicates()

In [ ]:
transactional_data

In [ ]:
# tornando nomes como padrão python

transactional_data = transactional_data.rename(columns = {'Patient Id':'patient_id', 'Gender':'gender', 'Date of birth':'date_of_birth', 'Date of service':'date_of_service','Service Id':'service_id', 'Lab Id':'lab_id', 'CodItem': 'cod_item', 'Testing Cost': 'testing_cost' })
transactional_data

In [ ]:
# salvando e exportando base transformada

transactional_data.to_csv('../bases_finais/final_transactional_data.csv', sep=';', index=False)

In [36]:
transactional_data

,patient_id,gender,date_of_birth,date_of_service,service_id,lab_id,cod_item,testing_cost
0,10210830256-BIO003,F,1976-08-01,2019-01-07,571904533475-38,L133,70003237,"9,0"
1,10210830256-BIO003,F,1976-08-01,2019-01-07,571904533475-38,L133,70000638,"13,0"
2,10210830256-BIO003,F,1976-08-01,2019-01-07,571904533475-38,L133,70001597,"49,0"
3,10210830256-BIO003,F,1976-08-01,2019-01-07,571904533475-38,L133,70000103,"11,0"
4,10210830256-BIO003,F,1976-08-01,2019-01-07,571904533475-38,L133,70000224,"10,0"
...,...,...,...,...,...,...,...,...
2355236,7664157546-1,M,1971-03-06,2021-02-12,7664157546-1-1,L697,70004038,"10,0"
2355237,7664157546-1,M,1971-03-06,2021-02-12,7664157546-1-1,L697,70004134,"10,0"
2355238,7664157546-1,M,1971-03-06,2021-02-12,7664157546-1-1,L697,70003056,"9,0"
2355239,7664157546-1,M,1971-03-06,2021-02-12,7664157546-1-1,L697,70004185,"13,0"
2355240,7664157546-1,M,1971-03-06,2021-02-12,7664157546-1-1,L697,70000392,"8,0"