In [55]:
# Importando transactional_data

import pandas as pd

transactional_data = pd.read_csv('../bases_iniciais/transactional_data.csv', sep=';') # tive que especificar o separador

transactional_data

,Patient Id,Gender,Date of birth,Date of service,Service Id,Lab Id,CodItem,Testing Cost
0,10210830256-BIO003,F,01/08/1976 00:00:00,2019-01-07,571904533475-38,L133,70003237,"9,0"
1,10210830256-BIO003,F,01/08/1976 00:00:00,2019-01-07,571904533475-38,L133,70000638,"13,0"
2,10210830256-BIO003,F,01/08/1976 00:00:00,2019-01-07,571904533475-38,L133,70001597,"49,0"
3,10210830256-BIO003,F,01/08/1976 00:00:00,2019-01-07,571904533475-38,L133,70000103,"11,0"
4,10210830256-BIO003,F,01/08/1976 00:00:00,2019-01-07,571904533475-38,L133,70000224,"10,0"
...,...,...,...,...,...,...,...,...
2355236,7664157546-1,M,06/03/1971 00:00:00,2021-02-12,7664157546-1-1,L697,70004038,"10,0"
2355237,7664157546-1,M,06/03/1971 00:00:00,2021-02-12,7664157546-1-1,L697,70004134,"10,0"
2355238,7664157546-1,M,06/03/1971 00:00:00,2021-02-12,7664157546-1-1,L697,70003056,"9,0"
2355239,7664157546-1,M,06/03/1971 00:00:00,2021-02-12,7664157546-1-1,L697,70004185,"13,0"
2355240,7664157546-1,M,06/03/1971 00:00:00,2021-02-12,7664157546-1-1,L697,70000392,"8,0"

In [56]:
transactional_data['Date of service'] = pd.to_datetime(transactional_data['Date of service'], format='%Y-%m-%d')
transactional_data['Date of birth'] = pd.to_datetime(transactional_data['Date of birth'], format='%d/%m/%Y %H:%M:%S')
transactional_data

,Patient Id,Gender,Date of birth,Date of service,Service Id,Lab Id,CodItem,Testing Cost
0,10210830256-BIO003,F,1976-08-01,2019-01-07,571904533475-38,L133,70003237,"9,0"
1,10210830256-BIO003,F,1976-08-01,2019-01-07,571904533475-38,L133,70000638,"13,0"
2,10210830256-BIO003,F,1976-08-01,2019-01-07,571904533475-38,L133,70001597,"49,0"
3,10210830256-BIO003,F,1976-08-01,2019-01-07,571904533475-38,L133,70000103,"11,0"
4,10210830256-BIO003,F,1976-08-01,2019-01-07,571904533475-38,L133,70000224,"10,0"
...,...,...,...,...,...,...,...,...
2355236,7664157546-1,M,1971-03-06,2021-02-12,7664157546-1-1,L697,70004038,"10,0"
2355237,7664157546-1,M,1971-03-06,2021-02-12,7664157546-1-1,L697,70004134,"10,0"
2355238,7664157546-1,M,1971-03-06,2021-02-12,7664157546-1-1,L697,70003056,"9,0"
2355239,7664157546-1,M,1971-03-06,2021-02-12,7664157546-1-1,L697,70004185,"13,0"
2355240,7664157546-1,M,1971-03-06,2021-02-12,7664157546-1-1,L697,70000392,"8,0"

In [57]:
transactional_data.dtypes

Patient Id                 object
Gender                     object
Date of birth      datetime64[ns]
Date of service    datetime64[ns]
Service Id                 object
Lab Id                     object
CodItem                     int64
Testing Cost               object
dtype: object

In [58]:
# checando valores nulos

transactional_data.isna().sum()

Patient Id         0
Gender             0
Date of birth      1
Date of service    0
Service Id         0
Lab Id             0
CodItem            0
Testing Cost       0
dtype: int64

In [59]:
# checando dado com valor nulo

transactional_data[transactional_data['Date of birth'].isna()]

,Patient Id,Gender,Date of birth,Date of service,Service Id,Lab Id,CodItem,Testing Cost
1253947,7659985004-1,F,NaT,2020-02-22,7659985004-2-1,L152,70000107,"48,0"

In [60]:
# checando se o paciente utilizou o serviÃ§o outras vezes

transactional_data[transactional_data['Patient Id'] == '7659985004-1']

,Patient Id,Gender,Date of birth,Date of service,Service Id,Lab Id,CodItem,Testing Cost
1253947,7659985004-1,F,NaT,2020-02-22,7659985004-2-1,L152,70000107,"48,0"

In [61]:
transactional_data.duplicated().sum()

14519

In [62]:
# checando dado com valor duplicado

transactional_data[transactional_data.duplicated()]

,Patient Id,Gender,Date of birth,Date of service,Service Id,Lab Id,CodItem,Testing Cost
110,10240091057-BIO010,F,1976-07-12,2019-01-09,430000507035-168,L536,70005005,"59,0"
325,10240100137-BIO010,F,1987-01-19,2019-02-03,431300349554-172,L539,70000180,"12,0"
326,10240100137-BIO010,F,1987-01-19,2019-02-03,431300349554-172,L539,70000180,"12,0"
731,10210824046-BIO003,F,1957-04-13,2019-01-15,576401751254-89,L166,70000180,"12,0"
732,10210824046-BIO003,F,1957-04-13,2019-01-15,576401751254-89,L166,70000180,"12,0"
...,...,...,...,...,...,...,...,...
2354236,6004062388-1,F,1986-09-13,2021-01-13,6004062388-3-1,L139,70000819,"30,0"
2354238,6004062388-1,F,1986-09-13,2021-01-13,6004062388-3-1,L139,70006315,"26,0"
2354554,7664121334-1,F,1947-11-07,2021-02-09,7664121334-2-1,L155,70002747,"81,0"
2354885,7658735373-1,M,1978-11-08,2021-01-29,7658735373-15-1,L158,70000180,"12,0"
2354886,7658735373-1,M,1978-11-08,2021-01-29,7658735373-15-1,L158,70000180,"12,0"

In [63]:
# conferindo linhas duplicadas

transactional_data[transactional_data['Patient Id'] == '10240091057-BIO010']

,Patient Id,Gender,Date of birth,Date of service,Service Id,Lab Id,CodItem,Testing Cost
109,10240091057-BIO010,F,1976-07-12,2019-01-09,430000507035-168,L536,70005005,"59,0"
110,10240091057-BIO010,F,1976-07-12,2019-01-09,430000507035-168,L536,70005005,"59,0"

In [64]:
# o duplicated() traz somente linhas que sÃ£o duplicadas em todos os atributos, entÃ£o sÃ£o realmente cÃ³pias, por isso, faz sentido
# deletar as duplicadas

transactional_data = transactional_data.drop_duplicates()

In [65]:
transactional_data.reset_index(inplace=True, drop=True)

In [66]:
# tornando nomes como padrÃ£o python

transactional_data = transactional_data.rename(columns = {'Patient Id':'patient_id', 'Gender':'gender', 'Date of birth':'date_of_birth', 'Date of service':'date_of_service','Service Id':'service_id', 'Lab Id':'lab_id', 'CodItem': 'cod_item', 'Testing Cost': 'testing_cost' })
transactional_data

,patient_id,gender,date_of_birth,date_of_service,service_id,lab_id,cod_item,testing_cost
0,10210830256-BIO003,F,1976-08-01,2019-01-07,571904533475-38,L133,70003237,"9,0"
1,10210830256-BIO003,F,1976-08-01,2019-01-07,571904533475-38,L133,70000638,"13,0"
2,10210830256-BIO003,F,1976-08-01,2019-01-07,571904533475-38,L133,70001597,"49,0"
3,10210830256-BIO003,F,1976-08-01,2019-01-07,571904533475-38,L133,70000103,"11,0"
4,10210830256-BIO003,F,1976-08-01,2019-01-07,571904533475-38,L133,70000224,"10,0"
...,...,...,...,...,...,...,...,...
2340717,7664157546-1,M,1971-03-06,2021-02-12,7664157546-1-1,L697,70004038,"10,0"
2340718,7664157546-1,M,1971-03-06,2021-02-12,7664157546-1-1,L697,70004134,"10,0"
2340719,7664157546-1,M,1971-03-06,2021-02-12,7664157546-1-1,L697,70003056,"9,0"
2340720,7664157546-1,M,1971-03-06,2021-02-12,7664157546-1-1,L697,70004185,"13,0"
2340721,7664157546-1,M,1971-03-06,2021-02-12,7664157546-1-1,L697,70000392,"8,0"

In [67]:
# avaliando incoerÃªncias

transactional_data.describe(include='all')

C:\Users\JOO~1\AppData\Local\Temp/ipykernel_29428/3065514747.py:3: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  transactional_data.describe(include='all')
C:\Users\JOO~1\AppData\Local\Temp/ipykernel_29428/3065514747.py:3: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  transactional_data.describe(include='all')

,patient_id,gender,date_of_birth,date_of_service,service_id,lab_id,cod_item,testing_cost
count,2340722,2340722,2340721,2340722,2340722,2340722,2.340722e+06,2340722
unique,501446,3,32914,770,660059,118,NaN,495
top,9999999-1,F,2010-01-01 00:00:00,2020-04-12 00:00:00,6004395771-8-1,L133,NaN,"10,0"
freq,1409,1491030,1506,5084,87,121886,NaN,354372
first,NaN,NaN,1859-12-28 00:00:00,2019-01-01 00:00:00,NaN,NaN,NaN,NaN
last,NaN,NaN,2020-02-08 00:00:00,2021-02-12 00:00:00,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,7.000322e+07,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,1.907708e+03,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,7.000004e+07,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,7.000113e+07,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,7.000376e+07,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,7.000446e+07,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,7.000900e+07,NaN

In [76]:
# transformando testing_cost em float
transactional_data.testing_cost = transactional_data.testing_cost.apply(lambda x: str(x.replace(',','.')))
transactional_data.testing_cost = transactional_data.testing_cost.astype('float')
transactional_data

,patient_id,gender,date_of_birth,date_of_service,service_id,lab_id,cod_item,testing_cost
0,10210830256-BIO003,F,1976-08-01,2019-01-07,571904533475-38,L133,70003237,9.0
1,10210830256-BIO003,F,1976-08-01,2019-01-07,571904533475-38,L133,70000638,13.0
2,10210830256-BIO003,F,1976-08-01,2019-01-07,571904533475-38,L133,70001597,49.0
3,10210830256-BIO003,F,1976-08-01,2019-01-07,571904533475-38,L133,70000103,11.0
4,10210830256-BIO003,F,1976-08-01,2019-01-07,571904533475-38,L133,70000224,10.0
...,...,...,...,...,...,...,...,...
2340717,7664157546-1,M,1971-03-06,2021-02-12,7664157546-1-1,L697,70004038,10.0
2340718,7664157546-1,M,1971-03-06,2021-02-12,7664157546-1-1,L697,70004134,10.0
2340719,7664157546-1,M,1971-03-06,2021-02-12,7664157546-1-1,L697,70003056,9.0
2340720,7664157546-1,M,1971-03-06,2021-02-12,7664157546-1-1,L697,70004185,13.0
2340721,7664157546-1,M,1971-03-06,2021-02-12,7664157546-1-1,L697,70000392,8.0

In [77]:
transactional_data.dtypes

patient_id                 object
gender                     object
date_of_birth      datetime64[ns]
date_of_service    datetime64[ns]
service_id                 object
lab_id                     object
cod_item                    int64
testing_cost              float64
dtype: object

In [78]:
# salvando e exportando base transformada

transactional_data.to_csv('../bases_finais/final_transactional_data.csv', sep=';', index=False)