In [1]:
# Importando transactional_data

import pandas as pd

transactional_data = pd.read_csv('../bases_iniciais/transactional_data.csv', sep=';') # tive que especificar o separador

transactional_data

,Patient Id,Gender,Date of birth,Date of service,Service Id,Lab Id,CodItem,Testing Cost
0,10210830256-BIO003,F,01/08/1976 00:00:00,2019-01-07,571904533475-38,L133,70003237,"9,0"
1,10210830256-BIO003,F,01/08/1976 00:00:00,2019-01-07,571904533475-38,L133,70000638,"13,0"
2,10210830256-BIO003,F,01/08/1976 00:00:00,2019-01-07,571904533475-38,L133,70001597,"49,0"
3,10210830256-BIO003,F,01/08/1976 00:00:00,2019-01-07,571904533475-38,L133,70000103,"11,0"
4,10210830256-BIO003,F,01/08/1976 00:00:00,2019-01-07,571904533475-38,L133,70000224,"10,0"
...,...,...,...,...,...,...,...,...
2355236,7664157546-1,M,06/03/1971 00:00:00,2021-02-12,7664157546-1-1,L697,70004038,"10,0"
2355237,7664157546-1,M,06/03/1971 00:00:00,2021-02-12,7664157546-1-1,L697,70004134,"10,0"
2355238,7664157546-1,M,06/03/1971 00:00:00,2021-02-12,7664157546-1-1,L697,70003056,"9,0"
2355239,7664157546-1,M,06/03/1971 00:00:00,2021-02-12,7664157546-1-1,L697,70004185,"13,0"
2355240,7664157546-1,M,06/03/1971 00:00:00,2021-02-12,7664157546-1-1,L697,70000392,"8,0"

In [2]:
# checando valores nulos

transactional_data.isna().sum()

Patient Id         0
Gender             0
Date of birth      1
Date of service    0
Service Id         0
Lab Id             0
CodItem            0
Testing Cost       0
dtype: int64

In [3]:
# checando dado com valor nulo

transactional_data[transactional_data['Date of birth'].isna()]

,Patient Id,Gender,Date of birth,Date of service,Service Id,Lab Id,CodItem,Testing Cost
1253947,7659985004-1,F,NaN,2020-02-22,7659985004-2-1,L152,70000107,"48,0"

In [4]:
# checando se o paciente utilizou o serviÃ§o outras vezes

transactional_data[transactional_data['Patient Id'] == '7659985004-1']

,Patient Id,Gender,Date of birth,Date of service,Service Id,Lab Id,CodItem,Testing Cost
1253947,7659985004-1,F,NaN,2020-02-22,7659985004-2-1,L152,70000107,"48,0"

In [5]:
transactional_data.duplicated().sum()

14519

In [6]:
# checando dado com valor duplicado

transactional_data[transactional_data.duplicated()]

,Patient Id,Gender,Date of birth,Date of service,Service Id,Lab Id,CodItem,Testing Cost
110,10240091057-BIO010,F,12/07/1976 00:00:00,2019-01-09,430000507035-168,L536,70005005,"59,0"
325,10240100137-BIO010,F,19/01/1987 00:00:00,2019-02-03,431300349554-172,L539,70000180,"12,0"
326,10240100137-BIO010,F,19/01/1987 00:00:00,2019-02-03,431300349554-172,L539,70000180,"12,0"
731,10210824046-BIO003,F,13/04/1957 00:00:00,2019-01-15,576401751254-89,L166,70000180,"12,0"
732,10210824046-BIO003,F,13/04/1957 00:00:00,2019-01-15,576401751254-89,L166,70000180,"12,0"
...,...,...,...,...,...,...,...,...
2354236,6004062388-1,F,13/09/1986 00:00:00,2021-01-13,6004062388-3-1,L139,70000819,"30,0"
2354238,6004062388-1,F,13/09/1986 00:00:00,2021-01-13,6004062388-3-1,L139,70006315,"26,0"
2354554,7664121334-1,F,07/11/1947 00:00:00,2021-02-09,7664121334-2-1,L155,70002747,"81,0"
2354885,7658735373-1,M,08/11/1978 00:00:00,2021-01-29,7658735373-15-1,L158,70000180,"12,0"
2354886,7658735373-1,M,08/11/1978 00:00:00,2021-01-29,7658735373-15-1,L158,70000180,"12,0"

In [7]:
# conferindo linhas duplicadas

transactional_data[transactional_data['Patient Id'] == '10240091057-BIO010']

,Patient Id,Gender,Date of birth,Date of service,Service Id,Lab Id,CodItem,Testing Cost
109,10240091057-BIO010,F,12/07/1976 00:00:00,2019-01-09,430000507035-168,L536,70005005,"59,0"
110,10240091057-BIO010,F,12/07/1976 00:00:00,2019-01-09,430000507035-168,L536,70005005,"59,0"

In [8]:
# o duplicated() traz somente linhas que sÃ£o duplicadas em todos os atributos, entÃ£o sÃ£o realmente cÃ³pias, por isso, faz sentido
# deletar as duplicadas

transactional_data = transactional_data.drop_duplicates()

In [9]:
transactional_data

,Patient Id,Gender,Date of birth,Date of service,Service Id,Lab Id,CodItem,Testing Cost
0,10210830256-BIO003,F,01/08/1976 00:00:00,2019-01-07,571904533475-38,L133,70003237,"9,0"
1,10210830256-BIO003,F,01/08/1976 00:00:00,2019-01-07,571904533475-38,L133,70000638,"13,0"
2,10210830256-BIO003,F,01/08/1976 00:00:00,2019-01-07,571904533475-38,L133,70001597,"49,0"
3,10210830256-BIO003,F,01/08/1976 00:00:00,2019-01-07,571904533475-38,L133,70000103,"11,0"
4,10210830256-BIO003,F,01/08/1976 00:00:00,2019-01-07,571904533475-38,L133,70000224,"10,0"
...,...,...,...,...,...,...,...,...
2355236,7664157546-1,M,06/03/1971 00:00:00,2021-02-12,7664157546-1-1,L697,70004038,"10,0"
2355237,7664157546-1,M,06/03/1971 00:00:00,2021-02-12,7664157546-1-1,L697,70004134,"10,0"
2355238,7664157546-1,M,06/03/1971 00:00:00,2021-02-12,7664157546-1-1,L697,70003056,"9,0"
2355239,7664157546-1,M,06/03/1971 00:00:00,2021-02-12,7664157546-1-1,L697,70004185,"13,0"
2355240,7664157546-1,M,06/03/1971 00:00:00,2021-02-12,7664157546-1-1,L697,70000392,"8,0"

In [10]:
# tornando nomes como padrÃ£o python

transactional_data = transactional_data.rename(columns = {'Patient Id':'patient_id', 'Gender':'gender', 'Date of birth':'date_of_birth', 'Date of service':'date_of_service','Service Id':'service_id', 'Lab Id':'lab_id', 'CodItem': 'cod_item', 'Testing Cost': 'testing_cost' })
transactional_data

,patient_id,gender,date_of_birth,date_of_service,service_id,lab_id,cod_item,testing_cost
0,10210830256-BIO003,F,01/08/1976 00:00:00,2019-01-07,571904533475-38,L133,70003237,"9,0"
1,10210830256-BIO003,F,01/08/1976 00:00:00,2019-01-07,571904533475-38,L133,70000638,"13,0"
2,10210830256-BIO003,F,01/08/1976 00:00:00,2019-01-07,571904533475-38,L133,70001597,"49,0"
3,10210830256-BIO003,F,01/08/1976 00:00:00,2019-01-07,571904533475-38,L133,70000103,"11,0"
4,10210830256-BIO003,F,01/08/1976 00:00:00,2019-01-07,571904533475-38,L133,70000224,"10,0"
...,...,...,...,...,...,...,...,...
2355236,7664157546-1,M,06/03/1971 00:00:00,2021-02-12,7664157546-1-1,L697,70004038,"10,0"
2355237,7664157546-1,M,06/03/1971 00:00:00,2021-02-12,7664157546-1-1,L697,70004134,"10,0"
2355238,7664157546-1,M,06/03/1971 00:00:00,2021-02-12,7664157546-1-1,L697,70003056,"9,0"
2355239,7664157546-1,M,06/03/1971 00:00:00,2021-02-12,7664157546-1-1,L697,70004185,"13,0"
2355240,7664157546-1,M,06/03/1971 00:00:00,2021-02-12,7664157546-1-1,L697,70000392,"8,0"

In [11]:
# salvando e exportando base transformada

transactional_data.to_csv('../bases_finais/final_transactional_data.csv', sep=';', index=False)