**Importando bibliotecas**

In [354]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

**Importando bases de dados**

In [371]:
df_geocode = pd.read_csv('./bases_finais/final_df_geocode.csv', sep=';')
test_data = pd.read_csv('./bases_finais/final_test_data.csv', sep=';') # Testing Cost = custo de aplicação, custo para o laboratório
transactional_data = pd.read_csv('./bases_finais/final_transactional_data.csv', sep=';') # Testing Cost = Custo para o paciente
EconomicData_ZCTAs = pd.read_csv('./bases_finais/final_EconomicData_ZCTAs.csv', sep=';') 
DemographicData_ZCTAs = pd.read_csv('./bases_finais/final_DemographicData_ZCTAs.csv', sep=';')

**Storytelling**

Principais dados a serem analisados:
- População total do Zipcode
- Poder aquisitivo médio do Zipcode
- Média de idade do Zipcode
- Proporção de homens para mulheres do Zipcode

**1) População total do Zipcode**

Hipótese: Quanto maior a população local do Zipcode, maior será a quantidade do público e clientes do laboratório.

In [356]:
# separando laboratórios mais frequentados por quartis

transactional_data.lab_id.value_counts().quantile([0.25,0.5,0.75])

0.25     5466.25
0.50    12186.50
0.75    22911.25
Name: lab_id, dtype: float64

In [357]:
# pegando dados do 1° quartil
transactional_data_25 = transactional_data['lab_id'].value_counts()
transactional_data_25 = transactional_data_25.to_frame()
transactional_data_25 = transactional_data_25[transactional_data_25.lab_id <= 5466.25]
transactional_data_25.reset_index(inplace=True)
transactional_data_25 = transactional_data_25.rename(columns={'index': 'lab_id', 'lab_id':'contagem'})

# pegando dados do 2° quartil
transactional_data_50 = transactional_data['lab_id'].value_counts()
transactional_data_50 = transactional_data_50.to_frame()
transactional_data_50 = transactional_data_50[transactional_data_50.lab_id <= 12186.50]
transactional_data_50 = transactional_data_50[transactional_data_50.lab_id > 5466.25]
transactional_data_50.reset_index(inplace=True)
transactional_data_50 = transactional_data_50.rename(columns={'index': 'lab_id', 'lab_id':'contagem'})

# pegando dados do 3° quartil
transactional_data_75 = transactional_data['lab_id'].value_counts()
transactional_data_75 = transactional_data_75.to_frame()
transactional_data_75 = transactional_data_75[transactional_data_75.lab_id > 12186.50]
transactional_data_75.reset_index(inplace=True)
transactional_data_75 = transactional_data_75.rename(columns={'index': 'lab_id', 'lab_id':'contagem'})

In [360]:
# dando merge nos laboratorios do 1° quartil com os dados do df_geocode
df_geocode_combinando_transactional_data_25 = df_geocode.copy()
df_geocode_combinando_transactional_data_25.zipcode = df_geocode_combinando_transactional_data_25.zipcode.astype('object')
df_geocode_combinando_transactional_data_25 = df_geocode_combinando_transactional_data_25.merge(transactional_data_25, how="inner", on="lab_id")
df_geocode_combinando_transactional_data_25 = df_geocode_combinando_transactional_data_25.drop(columns=['address', 'location'])

# DemographicData_ZCTAs.zipcode = DemographicData_ZCTAs.zipcode.str.slice(start=6)
df_geocode_combinando_transactional_data_25_e_DemographicData_ZCTAs = df_geocode_combinando_transactional_data_25.copy()
df_geocode_combinando_transactional_data_25_e_DemographicData_ZCTAs
df_geocode_combinando_transactional_data_75_e_DemographicData_ZCTAs = df_geocode_combinando_transactional_data_75.copy()
df_geocode_combinando_transactional_data_75_e_DemographicData_ZCTAs
DemographicData_ZCTAs.zipcode = DemographicData_ZCTAs.zipcode.astype('float')

# dando merge no dataframe que combina os dados dos laboratorios do df_geocode e do 1° quartil com as informações dos zipcodes dos laboratórios
df_geocode_combinando_transactional_data_25_e_DemographicData_ZCTAs = df_geocode_combinando_transactional_data_25_e_DemographicData_ZCTAs.merge(DemographicData_ZCTAs, how="inner", on="zipcode")

# deletando colunas desnecessárias
df_geocode_combinando_transactional_data_25_e_DemographicData_ZCTAs = df_geocode_combinando_transactional_data_25_e_DemographicData_ZCTAs.drop(columns=['id', 'SexRatio(males per 100 females)', 'Population_Under5Years', 'Population_5to9Years', 'Population_10to14Years', 'Population_15to19Years','Population_20to24Years', 'Population_25to34Years', 'Population_35to44Years', 'Population_45to54Years','Population_55to59Years','Population_60to64Years','Population_65to74Years','Population_75to84Years','Population_85YearsAndOver', 'MedianAgeInYears'])
df_geocode_combinando_transactional_data_25_e_DemographicData_ZCTAs

   lab_id zipcode  contagem  total_population
0    L545   61469      2805              2213
1    L518   94566      1916             45893
2    L504   61282      3164              7732
3    L070   19036      5066             12894
4    L720   98034      1835             43471
5    L889   19096      5250             13695
6    L529    2762      3858              9183
7    L530   19004      3800              9524
8    L519   13057      5446             13643
9    L067   95204      3901             28667
10   L442   98148      1174             12149
11   L658   13413      4181             15777
12   L127   71105       235             20824
13   L661   61480      2865              1171
14   L660    3087       645             14610
15   L082    3087      5466             14610
16   L670   13441      2799               184
17   L149   94520        68             38753
18   L967   94520        90             38753
19   L666   30009      1288             17371
20   L669   98107      3102             27534
21   L903   13357      4156             10786
22   L698   98104      1943             14522
23   L763   13090      4297             29869
24   L075   19145      1961             46052
25   L668   30342      4046             30873
26   L535   13421      5097             13149
27   L723   13304      2281              1617

In [365]:
# média populacional dos laboratórios do 1° quartil
media = df_geocode_combinando_transactional_data_25_e_DemographicData_ZCTAs.total_population.mean()

print(f'A média da população dos zipcodes do 1° quartil é de {media:.1f} habitantes')

A média da população dos zipcodes do 1° quartil é de 19125.7 habitantes

In [361]:
# dando merge nos laboratorios do 3° quartil com os dados do df_geocode
df_geocode_combinando_transactional_data_75 = df_geocode.copy()
df_geocode_combinando_transactional_data_75.zipcode = df_geocode_combinando_transactional_data_75.zipcode.astype('object')
df_geocode_combinando_transactional_data_75 = df_geocode_combinando_transactional_data_75.merge(transactional_data_75, how="inner", on="lab_id")
df_geocode_combinando_transactional_data_75 = df_geocode_combinando_transactional_data_75.drop(columns=['address', 'location'])

# dando merge no dataframe que combina os dados dos laboratorios do df_geocode e do 3° quartil com as informações dos zipcodes dos laboratórios
df_geocode_combinando_transactional_data_75_e_DemographicData_ZCTAs = df_geocode_combinando_transactional_data_75_e_DemographicData_ZCTAs.merge(DemographicData_ZCTAs, how="inner", on="zipcode")
df_geocode_combinando_transactional_data_75_e_DemographicData_ZCTAs

,lab_id,zipcode,contagem,id,total_population,SexRatio(males per 100 females),Population_Under5Years,Population_5to9Years,Population_10to14Years,Population_15to19Years,Population_20to24Years,Population_25to34Years,Population_35to44Years,Population_45to54Years,Population_55to59Years,Population_60to64Years,Population_65to74Years,Population_75to84Years,Population_85YearsAndOver,MedianAgeInYears
0,L152,30096,95256,8600000US30096,68691,89.0,4335,4376,4749,4130,4874,11188,9629,10248,4386,3492,4636,1988,660,35.8
1,L520,13440,20481,8600000US13440,41014,104.2,2673,2497,2254,1832,2360,6157,4432,4841,3431,3168,3819,2456,1094,40.5
2,L141,98034,50631,8600000US98034,43471,98.8,2813,2485,2426,1846,2392,8207,6852,5702,2235,2712,3682,1496,623,36.8
3,L140,98034,23726,8600000US98034,43471,98.8,2813,2485,2426,1846,2392,8207,6852,5702,2235,2712,3682,1496,623,36.8
4,L524,30342,13187,8600000US30342,30873,94.0,1963,2322,2150,1701,1638,6419,4496,4319,1820,1257,1854,633,301,33.4
5,L172,30281,20259,8600000US30281,68456,92.7,4603,4650,5288,5023,4807,9170,9202,9349,4997,3739,4844,2131,653,35.7
6,L531,94588,17707,8600000US94588,37253,91.5,1757,2596,3377,2460,1453,3768,5837,6159,2310,2389,2859,1764,524,40.7
7,L160,1840,33938,8600000US01840,5573,96.4,437,406,380,282,474,775,717,662,383,299,463,175,120,35.2
8,L533,94598,12826,8600000US94598,27831,89.4,1871,1660,1459,1564,877,2782,3674,3808,1841,1953,3403,1906,1033,45.1
9,L061,98004,46043,8600000US98004,36202,105.3,1692,1450,1958,1343,1836,8340,5246,5095,2201,1753,2597,1762,929,37.8
10,L060,98004,18430,8600000US98004,36202,105.3,1692,1450,1958,1343,1836,8340,5246,5095,2201,1753,2597,1762,929,37.8
11,L536,30338,16043,8600000US30338,35903,90.5,2755,3032,2210,2016,903,4965,6232,4635,1913,1512,3130,1929,671,37.8
12,L153,30060,19840,8600000US30060,40290,102.9,2334,3318,2665,3624,3799,5606,6180,4642,2029,2194,2347,1145,407,32.7
13,L132,30062,50135,8600000US30062,65801,97.5,3701,5035,5983,3806,3131,6397,9705,9999,4103,4233,6559,2397,752,40.3
14,L166,19120,76159,8600000US19120,74060,90.6,5956,5638,6570,5761,6491,10764,8613,10024,4874,3343,3961,1654,411,30.2
15,L121,98008,88430,8600000US98008,25719,102.2,1376,1761,1502,1350,1100,3147,3673,4037,1851,1405,2561,1068,888,42.3
16,L138,61265,22919,8600000US61265,43472,94.6,2867,2679,2722,2203,2559,5671,5212,4931,2978,2902,4901,2837,1010,40.7
17,L532,30084,17351,8600000US30084,38374,97.7,2391,2214,2390,1709,2034,5505,5542,6126,2834,2370,2862,1503,894,40.4
18,L069,1605,12658,8600000US01605,28533,97.5,1766,1814,2016,2042,2609,5117,3349,3052,1501,1404,1911,1128,824,32.6
19,L662,30135,73354,8600000US30135,67710,92.5,4010,4496,5933,4956,4055,7740,9294,10592,3992,3916,5779,2207,740,37.7
20,L148,94566,33568,8600000US94566,45893,97.3,1801,2874,3737,3535,1592,4196,5776,8457,3858,2939,3869,2200,1059,44.2
21,L541,94520,18694,8600000US94520,38753,108.2,2818,2446,2193,2198,2619,7190,6045,4836,2307,1993,2770,1103,235,34.8
22,L168,98122,27948,8600000US98122,39305,113.3,1069,1200,1269,2375,4976,12661,5750,4152,1318,1634,1688,748,465,31.3
23,L167,19144,30993,8600000US19144,43884,80.5,2687,2435,2307,3058,3344,8168,4407,5620,2814,2819,3387,2034,804,34.9
24,L169,19104,23361,8600000US19104,53560,95.1,2220,2158,2076,9552,14102,9289,3766,3141,1641,1476,2344,1080,715,22.9
25,L150,98133,38471,8600000US98133,48650,92.3,2849,1735,1846,2165,2743,9049,6941,6520,3237,2838,4268,2580,1879,39.9
26,L134,30078,17382,8600000US30078,35601,90.7,1985,2585,2509,2666,2136,4091,5010,5132,2537,2165,2808,1364,613,38.7
27,L539,98370,14135,8600000US98370,31278,94.0,1582,1785,2027,1944,1484,3363,4003,4060,2344,2550,3744,1811,581,43.4
28,L154,94521,30890,8600000US94521,43281,91.1,2447,2525,2351,2168,2438,6045,5226,6168,3342,2897,4195,2503,976,42.3
29,L156,98012,69625,8600000US98012,67427,100.2,5132,5212,4667,3536,3821,10739,11182,9203,3792,2980,4558,1794,811,35.4
30,L528,52722,18068,8600000US52722,37476,95.1,2288,2686,2831,2370,1588,4270,5360,5120,2502,2353,3611,1967,530,40.3
31,L155,94513,58878,8600000US94513,64313,94.5,3003,4485,5543,5413,3744,6191,7987,9462,4785,3770,5374,3126,1430,40.5
32,L125,94531,22888,8600000US94531,43022,89.1,2127,2518,3245,3657,3041,5662,5010,6376,3304,2687,3331,1390,674,38.1
33,L126,19124,49180,8600000US19124,70304,90.5,6777,5779,6825,5269,4685,9831,9424,8573,3890,3470,3920,1431,430,31.0
34,L072,30214,13653,8600000US30214,29577,88.9,1339,1503,1605,2156,2382,3231,2832,4389,2197,1949,3657,1753,584,44.3
35,L164,30033,33621,8600000US30033,32847,88.7,1580,2244,1487,1741,3086,5439,4958,3670,2118,1676,2755,1410,683,36.6
36,L522,1702,20099,8600000US01702,39799,95.6,2527,2246,2130,3164,2539,7388,6095,4478,2203,2230,2423,1567,809,34.9
37,L525,19140,34858,8600000US19140,51766,88.7,4199,3504,3491,3087,4108,7476,5772,6786,3151,3305,3751,2372,764,35.0
38,L063,61201,18452,8600000US61201,38024,95.3,2422,2156,2255,3552,3415,4755,4153,4106,2532,2503,3343,1902,930,36.0
39,L139,95823,93495,8600000US95823,79440,94.5,6565,6963,6171,5412,5570,13578,9398,8329,4965,4165,5384,1904,1036,31.4
40,L170,3079,13486,8600000US03079,29234,102.9,1473,1438,1227,1898,1716,4025,3155,4244,2588,1990,3155,1458,867,44.0
41,L123,19143,68469,8600000US19143,64630,80.5,4781,4058,4619,3366,4906,12321,7904,6854,3353,3544,4930,2538,1456,32.9
42,L145,98026,19847,8600000US98026,37995,97.8,2129,1827,1724,2256,2080,4966,5206,5594,3089,2708,3882,1887,647,42.7
43,L157,94550,35382,8600000US94550,50374,93.6,3145,2876,3734,2387,2141,5978,6400,7646,4268,3208,4656,2639,1296,42.7
44,L171,30080,12601,8600000US30080,57067,94.3,4826,3787,2356,2013,3072,14132,9143,7427,2663,2548,3301,1351,448,33.7
45,L131,48104,36039,8600000US48104,43369,101.8,1088,1132,961,5106,16330,6785,2875,2437,1516,1432,2353,1058,296,23.0
46,L133,94565,121886,8600000US94565,97671,100.5,7092,7253,6839,6074,7864,14987,14341,12697,5731,4888,6524,2598,783,34.1
47,L058,19148,38481,8600000US19148,52259,98.3,3521,3106,2845,1978,2163,11318,7809,6032,2958,3076,3659,2502,1292,36.4
48,L159,19148,34824,8600000US19148,52259,98.3,3521,3106,2845,1978,2163,11318,7809,6032,2958,3076,3659,2502,1292,36.4
49,L703,94583,14967,8600000US94583,35231,102.4,2165,2332,2827,2586,1273,3497,5493,5838,2561,1991,2811,1284,573,40.8
50,L664,2169,48370,8600000US02169,56523,91.7,3200,2499,1908,1993,3101,12073,7946,7062,4073,3497,5059,2522,1590,38.6
51,L066,30274,14174,8600000US30274,35861,86.0,2190,2866,3000,2518,2474,5984,4992,4833,1816,1986,2541,576,85,33.4
52,L065,52761,13785,8600000US52761,30263,97.2,1928,2263,2022,1839,1837,3724,3608,3797,2126,2101,2795,1421,802,38.6
53,L540,30189,19534,8600000US30189,38809,95.8,1894,2209,2950,3091,2386,4760,4802,6760,3038,2093,3078,1365,383,40.1
54,L120,19106,20031,8600000US19106,12592,98.0,348,279,149,97,560,4081,1807,1458,673,834,1267,824,215,38.6
55,L173,1701,17993,8600000US01701,32590,97.8,1468,1752,1703,1618,1485,3891,3946,5316,2105,2771,3909,1551,1075,45.8
56,L161,13502,14307,8600000US13502,33314,102.8,2466,1960,1779,2728,2899,4389,3521,4422,2121,1737,3129,1281,882,36.3

In [366]:
# média populacional dos laboratórios do 3° quartil
media = df_geocode_combinando_transactional_data_75_e_DemographicData_ZCTAs.total_population.mean()

print(f'A média da população dos zipcodes do 3° quartil é de {media:.1f} habitantes')

A média da população dos zipcodes do 3° quartil é de 44791.9 habitantes

**Conclusão:** Como a média da população local dos zipcodes do 3° quartil é muito maior do que a média dos zipcodes do 1° quartil, e considerando que esses quartis foram divididos de acordo com a quantidade de serviços feitos em cada laboratório, ou seja, os laboratórios do 3° quartil realizaram mais serviços do que os do 1° quartil, então é possível dizer que a população total do zipcode afeta diretamente na quantidade de serviços realizados pelo laboratório, e que para a análise de futuros laboratórios da rede, seria interessante observar zipcodes com uma população maior.

*Média da população dos zipcodes*

In [ ]:
media = DemographicData_ZCTAs.total_population.mean()
print(f'A média da população dos zipcodes analisados é de {media:.0f} habitantes')

*Zipcodes com a maior população*

In [ ]:
max_population_DemographicData_ZCTAs = DemographicData_ZCTAs.copy()
max_population_DemographicData_ZCTAs.sort_values(by=['total_population'], ascending=False, inplace=True)
max_population_DemographicData_ZCTAs[['total_population']].quantile([0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9])

Como possíveis destinos para futuros laboratórios da rede, seria interessante que considerássemos locais apenas com a população total entre os 10% dos dados analisados, ou seja, zipcodes com a população acima de 31391 habitantes.

In [ ]:
top_10_DemographicData_ZCTAs = max_population_DemographicData_ZCTAs[max_population_DemographicData_ZCTAs['total_population'] >= 31391]
top_10_DemographicData_ZCTAs.reset_index(inplace=True, drop=True)
top_10_DemographicData_ZCTAs

-------------------------------------------------------------------------------------------------------------------------------

**2) Poder aquisitivo médio do Zipcode**

Hipótese: Quanto maior for o poder aquisitivo médio da população do zipcode, maior seria o público disposto a utilizar os serviços do laboratório.

In [367]:
EconomicData_ZCTAs.columns

Index(['id', 'geographic_area_name', 'TotalHouseholds_LessThan$10.000',
       'TotalHouseholds_$10.000to$14.999', 'TotalHouseholds_$15.000to$24.999',
       'TotalHouseholds_$25.000to$34.999', 'TotalHouseholds_$35.000to$49.999',
       'TotalHouseholds_$50.000to$74.999', 'TotalHouseholds_$75.000to$99.999',
       'TotalHouseholds_$100.000to$149.999',
       'TotalHouseholds_$150.000to$199.999', 'TotalHouseholds_$200.000OrMore'],
      dtype='object')

In [373]:
purchasing_power_EconomicData_ZCTAs = EconomicData_ZCTAs.copy()
purchasing_power_EconomicData_ZCTAs['average'] = (((purchasing_power_EconomicData_ZCTAs['TotalHouseholds_LessThan$10.000'] * 10000) +
                                                  (purchasing_power_EconomicData_ZCTAs['TotalHouseholds_$10.000to$14.999'] * 12250) +
                                                  (purchasing_power_EconomicData_ZCTAs['TotalHouseholds_$15.000to$24.999'] * 20000) +
                                                  (purchasing_power_EconomicData_ZCTAs['TotalHouseholds_$25.000to$34.999'] * 30000) +
                                                  (purchasing_power_EconomicData_ZCTAs['TotalHouseholds_$35.000to$49.999'] * 42250) +
                                                  (purchasing_power_EconomicData_ZCTAs['TotalHouseholds_$50.000to$74.999'] * 62250) +
                                                  (purchasing_power_EconomicData_ZCTAs['TotalHouseholds_$75.000to$99.999'] * 87250) +
                                                  (purchasing_power_EconomicData_ZCTAs['TotalHouseholds_$100.000to$149.999'] * 125000) +
                                                  (purchasing_power_EconomicData_ZCTAs['TotalHouseholds_$150.000to$199.999'] * 175000) +
                                                  (purchasing_power_EconomicData_ZCTAs['TotalHouseholds_$200.000OrMore'] * 200000))/
                                                  (purchasing_power_EconomicData_ZCTAs['TotalHouseholds_LessThan$10.000'] + 
                                                   purchasing_power_EconomicData_ZCTAs['TotalHouseholds_$10.000to$14.999'] +
                                                   purchasing_power_EconomicData_ZCTAs['TotalHouseholds_$15.000to$24.999'] +
                                                   purchasing_power_EconomicData_ZCTAs['TotalHouseholds_$25.000to$34.999'] +
                                                   purchasing_power_EconomicData_ZCTAs['TotalHouseholds_$35.000to$49.999'] + 
                                                   purchasing_power_EconomicData_ZCTAs['TotalHouseholds_$50.000to$74.999'] + 
                                                   purchasing_power_EconomicData_ZCTAs['TotalHouseholds_$75.000to$99.999'] + 
                                                   purchasing_power_EconomicData_ZCTAs['TotalHouseholds_$100.000to$149.999'] + 
                                                   purchasing_power_EconomicData_ZCTAs['TotalHouseholds_$150.000to$199.999'] + 
                                                   purchasing_power_EconomicData_ZCTAs['TotalHouseholds_$200.000OrMore'])).round(0)

In [376]:

# purchasing_power_EconomicData_ZCTAs.zipcode = purchasing_power_EconomicData_ZCTAs.zipcode.str.slice(start=6)
df_geocode_combinando_transactional_data_25_e_purchasing_power_EconomicData_ZCTAs = df_geocode_combinando_transactional_data_25.copy()
df_geocode_combinando_transactional_data_25_e_purchasing_power_EconomicData_ZCTAs
df_geocode_combinando_transactional_data_75_e_purchasing_power_EconomicData_ZCTAs = df_geocode_combinando_transactional_data_75.copy()
df_geocode_combinando_transactional_data_75_e_purchasing_power_EconomicData_ZCTAs
purchasing_power_EconomicData_ZCTAs.zipcode = purchasing_power_EconomicData_ZCTAs.zipcode.astype('float')

# dando merge no dataframe que combina os dados dos laboratorios do df_geocode e do 1° quartil com as informações dos zipcodes dos laboratórios
df_geocode_combinando_transactional_data_25_e_purchasing_power_EconomicData_ZCTAs = df_geocode_combinando_transactional_data_25_e_purchasing_power_EconomicData_ZCTAs.merge(purchasing_power_EconomicData_ZCTAs, how="inner", on="zipcode")
df_geocode_combinando_transactional_data_25_e_purchasing_power_EconomicData_ZCTAs

# dando merge no dataframe que combina os dados dos laboratorios do df_geocode e do 3° quartil com as informações dos zipcodes dos laboratórios
df_geocode_combinando_transactional_data_75_e_purchasing_power_EconomicData_ZCTAs = df_geocode_combinando_transactional_data_75_e_purchasing_power_EconomicData_ZCTAs.merge(purchasing_power_EconomicData_ZCTAs, how="inner", on="zipcode")
df_geocode_combinando_transactional_data_75_e_purchasing_power_EconomicData_ZCTAs

# deletando colunas desnecessárias
# df_geocode_combinando_transactional_data_75_e_purchasing_power_EconomicData_ZCTAs = df_geocode_combinando_transactional_data_75_e_purchasing_power_EconomicData_ZCTAs.drop(columns=['id', 'SexRatio(males per 100 females)', 'Population_Under5Years', 'Population_5to9Years', 'Population_10to14Years', 'Population_15to19Years','Population_20to24Years', 'Population_25to34Years', 'Population_35to44Years', 'Population_45to54Years','Population_55to59Years','Population_60to64Years','Population_65to74Years','Population_75to84Years','Population_85YearsAndOver', 'MedianAgeInYears'])
# df_geocode_combinando_transactional_data_75_e_purchasing_power_EconomicData_ZCTAs

,lab_id,zipcode,contagem,id,TotalHouseholds_LessThan$10.000,TotalHouseholds_$10.000to$14.999,TotalHouseholds_$15.000to$24.999,TotalHouseholds_$25.000to$34.999,TotalHouseholds_$35.000to$49.999,TotalHouseholds_$50.000to$74.999,TotalHouseholds_$75.000to$99.999,TotalHouseholds_$100.000to$149.999,TotalHouseholds_$150.000to$199.999,TotalHouseholds_$200.000OrMore,average
0,L545,61469,2805,8600000US61469,16,72,133,108,175,287,112,107,10,0,55979.0
1,L518,94566,1916,8600000US94566,262,357,792,576,687,1245,1438,2317,2504,6297,137137.0
2,L504,61282,3164,8600000US61282,453,210,216,342,339,773,516,485,97,39,61829.0
3,L070,19036,5066,8600000US19036,190,241,588,714,503,904,654,975,344,214,74619.0
4,L720,98034,1835,8600000US98034,672,305,629,760,1474,2226,2609,3797,2317,2857,109136.0
5,L889,19096,5250,8600000US19096,158,72,287,256,347,670,518,807,673,1854,125292.0
6,L529,2762,3858,8600000US02762,103,15,265,244,195,556,613,809,419,447,102023.0
7,L530,19004,3800,8600000US19004,182,100,180,227,254,408,326,619,604,1001,118252.0
8,L519,13057,5446,8600000US13057,218,370,554,565,722,1265,805,1075,304,243,73583.0
9,L067,95204,3901,8600000US95204,678,785,1085,1252,1401,2136,1415,1425,363,536,66822.0
10,L442,98148,1174,8600000US98148,266,86,411,411,659,937,487,811,338,210,77004.0
11,L658,13413,4181,8600000US13413,100,187,397,493,687,1314,1004,1025,574,612,90007.0
12,L127,71105,235,8600000US71105,732,424,864,1027,1304,1831,1330,1224,578,499,71300.0
13,L661,61480,2865,8600000US61480,18,27,48,41,98,114,81,38,0,0,55387.0
14,L660,3087,645,8600000US03087,12,56,226,105,228,623,441,840,955,1523,134177.0
15,L082,3087,5466,8600000US03087,12,56,226,105,228,623,441,840,955,1523,134177.0
16,L670,13441,2799,8600000US13441,0,0,0,0,65,0,38,0,0,0,58852.0
17,L149,94520,68,8600000US94520,802,583,1098,1072,2024,2356,1948,2306,961,519,75473.0
18,L967,94520,90,8600000US94520,802,583,1098,1072,2024,2356,1948,2306,961,519,75473.0
19,L666,30009,1288,8600000US30009,119,115,178,646,547,1019,691,1367,1060,1187,110571.0
20,L669,98107,3102,8600000US98107,448,366,620,514,1001,2079,2053,3348,1219,2565,107820.0
21,L903,13357,4156,8600000US13357,186,387,394,476,547,727,749,479,179,60,63498.0
22,L698,98104,1943,8600000US98104,1269,455,1008,445,810,992,847,1110,516,834,74523.0
23,L763,13090,4297,8600000US13090,434,225,808,715,1278,2588,2051,2110,1275,700,87461.0
24,L075,19145,1961,8600000US19145,1982,938,2741,1480,2615,2999,2167,2197,773,487,61161.0
25,L668,30342,4046,8600000US30342,205,270,965,947,1290,1892,1263,1702,997,3446,108805.0
26,L535,13421,5097,8600000US13421,495,222,540,480,786,1119,509,929,192,132,65927.0
27,L723,13304,2281,8600000US13304,21,21,67,62,77,60,129,64,103,93,95460.0

In [377]:
media = df_geocode_combinando_transactional_data_25_e_purchasing_power_EconomicData_ZCTAs.average.mean()

print(f'A média dos salários dos zipcodes do 1° quartil é de {media:.1f} dólares')

A média dos salários dos zipcodes do 1° quartil é de 88276.7 dólares

In [378]:
media = df_geocode_combinando_transactional_data_75_e_purchasing_power_EconomicData_ZCTAs.average.mean()

print(f'A média dos salários dos zipcodes do 3° quartil é de {media:.1f} dólares')

A média dos salários dos zipcodes do 3° quartil é de 88194.2 dólares

**Conclusão:** A média dos salários dos zipcodes do 1° quartil é quase igual e até maior do que as dos zipcodes do 3° quartil, rejeitando a hipótese de que o poder aquisitivo interfira fortemente na utilização dos laboratórios.

-------------------------------------------------------------------------------------------------------------------------------

**3) Média de idade do Zipcode**

Hipótese: Pessoas mais velhas são mais propensas a utilizar os serviços dos laboratórios.

In [ ]:
pacientes_unicos_transactional_data = transactional_data.copy()
pacientes_unicos_transactional_data = pacientes_unicos_transactional_data.drop_duplicates(subset=['patient_id'], keep='first') # pacientes sem repetição
pacientes_unicos_transactional_data.reset_index(inplace=True, drop=True) # resetando index
pacientes_unicos_transactional_data['date_of_service'] = pd.to_datetime(pacientes_unicos_transactional_data['date_of_service'], format='%Y-%m-%d')
pacientes_unicos_transactional_data['date_of_birth'] = pd.to_datetime(pacientes_unicos_transactional_data['date_of_birth'], format='%Y-%m-%d %H:%M:%S') # cortando a hora das datas de nascimento
pacientes_unicos_transactional_data['year'] = pd.DatetimeIndex(pacientes_unicos_transactional_data['date_of_birth']).year
pacientes_unicos_transactional_data

In [ ]:
pacientes_unicos_transactional_data['year'] = pd.DatetimeIndex(pacientes_unicos_transactional_data['date_of_birth']).year
pacientes_unicos_transactional_data

In [ ]:
# calculando média de idade dos pacientes
media = (2022 - (pacientes_unicos_transactional_data.year.mean()))
print(f'A média de idade de pessoas que frequentam os laboratórios é {media:.1f}')
pacientes_unicos_transactional_data.drop(columns=['year'], inplace = True)

**Conclusão:** É possível concluir então que pessoas por volta dos 40 anos são as que mais frequentam os laboratórios da rede, assim, seria interessante procurarmos por zipcodes que tenham uma média de idade próxima a esse valor

-------------------------------------------------------------------------------------------------------------------------------

**4) Proporção de homens para mulheres do Zipcode**

Hipótese: Pessoas do gênero feminino são mais propensas a utilizar os serviços dos laboratórios.

In [ ]:
pacientes_unicos_transactional_data.gender.value_counts()

In [ ]:
proporcao = 341863/(pacientes_unicos_transactional_data.gender.count())
print(f'{(proporcao * 100):.1f}% dos pacientes são do gênero feminino')

**Conclusão:** É possível concluir então que pessoas do gênero feminino possuem maior tendência de frequentar o laboratório, por isso, seria interessante procurarmos locais que tenham uma alta proporção de pessoas do gênero feminino em relação ao masculino.

-------------------------------------------------------------------------------------------------------------------------------

In [ ]:
transactional_data.cod_item.value_counts()